/* Pre-set */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1400px;
  margin: auto;
}

/* Flexbox */

.d-flex {
  display: flex;
}
.justify-content {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.flex-direction-column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}

/* Grid */
.grid-3-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* General */
hr {
  width: 50px;
  margin: auto;
}

/* Expertise Section */

.expertise {
  text-align: center;
  margin-bottom: 2rem;
}
.expertise-container {
  margin-top: 3rem;
}
.service * {
  padding: 1rem 1rem;
}
.service.one,
.service.two {
  border-right: #cccccc solid 2px;
  border-bottom: #cccccc solid 2px;
}
.service.three {
  border-bottom: #cccccc solid 2px;
}
.service.four,
.service.five {
  border-right: #cccccc solid 2px;
}
.expertise p {
  color: #cccccc;
  font-size: 14x;
  font-weight: 300;
  margin-bottom: 1rem;
}

/* Our Team Tab */

.our_team {
  background-image: url(resources/photoshop/design-assets/bgk-middle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fafafa;
}
.our_team p {
  font-weight: 300;
  color: #cccccc;
  margin-bottom: 1rem;
}

.img-container {
  color: #fafafa;
  text-align: center;
  margin: 2rem;
  border: #cccccc solid 1px;
}
.img-container img {
  background-color: #fafafa;
  width: 180px;
  height: 180px;
  padding: 0;
}
.text-container {
  padding: 1rem;
  font-weight: 300;
  font-size: 14px;
}
.text-container p {
  color: #cccccc;
  font-size: 12px;
}
.our_team button {
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: transparent;
  color: aquamarine;
  border: aquamarine solid 1px;
  border-radius: 2px;
}

/* Clients Tab */

section {
  padding: 2rem 15rem;
}
.clients {
  margin-left: 4rem;
}
.clients img {
  width: 120px;
  margin: 0.9rem 0.8rem 0;
}
h3 {
  margin-bottom: 1rem;
}

/* Contact Tab */

.contact input {
  width: 28rem;
  padding: 0.5rem;
  margin: 1rem 1rem 1rem 0;
}
.contact textarea {
  width: 28rem;
  padding: 0.5rem;
  margin: 1rem 1rem 1rem 0;
  height: 40%;
  color: #cccccc;
  border-color: #cccccc;
}
.contact input[type="submit"] {
  width: 20%;
  background-color: transparent;
  color: aquamarine;
  border: aquamarine solid 1.5px;
  font-weight: 800;
  border-radius: 2px;
}

/* Footer */

footer {
  background-image: url(resources/photoshop/design-assets/bgk-footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fafafa;
  font-family: "Roboto";
  padding: 2rem 15rem;
}
footer div {
  width: 300px;
}
.footer-container {
  padding: 2rem 0;
  text-align: left;
}
footer p {
  font-size: 12px;
  color: #cccccc;
  font-weight: 300;
}
footer ul {
  list-style: none;
  font-size: 14px;
  padding-top: 2rem;
}
.footer-logo {
  margin-bottom: 2rem;
  display: inline;
}
footer h5 {
  display: inline;
  font-size: 30px;
  margin-left: 1rem;
  font-weight: 100;
  color: aquamarine;
  font-family: monospace;
}
footer h4 {
  margin-bottom: 3.5rem;
}
/* Our studio Section */

.our_studio {
  margin: 0 1rem;
}
.our_studio p {
  padding: 0.5rem 0.5rem;
}

/* Stay in touch Section */

.stay_in_touch ul {
  padding-top: 1.4rem;
}
.stay_in_touch li {
  padding: 0;
  margin: 0;
}
.stay_in_touch p {
  padding-top: 1.5rem;
  text-align: end;
}
.stay_in_touch img {
  width: 85%;
  padding: 0;
  margin-left: 0;
}
.stay_in_touch input {
  height: 35px;
  width: 180px;
  margin-right: 0.5rem;
  background-color: transparent;
  color: #cccccc;
  border: #cccccc solid 1.5px;
  padding: 0.5rem;
}
.stay_in_touch button {
  width: 50px;
  height: 35px;
  background-color: #cccccc;
  border: #cccccc solid 1.5px;
  opacity: 0.6;
}
#paper_icon {
  display: block;
  height: 35px;
  width: auto;
  background-color: transparent;
  padding: 0.4rem;
  margin: auto;
}
